<div id="loginFormat">
    <div id="loginTop">
        <img style="width: 25%; height: 25%;" src="../../../assets/images/Shield.png" alt="HSM">
    </div>
    <div id="loginBox">
        <h1>Login</h1>
        <div style="margin-left: 10px;">
            <div class="form-group">
                <div>
                    <label id="letters" for="username">User Name</label>
                </div>
                <div>
                    <input type="text">
                </div>
                <br>
                <div>
                    <label id="letters" for="password">Password</label>
                </div>
                <div>
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</div>