<div id="loginFormat">
    <div id="loginTop">
        <img style="width: 25%; height: 25%;" src="../../../assets/images/Shield.png" alt="HSM">
    </div>
    <div id="loginBox">
        <h1>Cryptography Operations</h1>
        <div style="margin-left: 10px;">
            <div class="form-group">
                <!-- Buttons -->
                <span>
                    <div>
                        <button id="loginBtn" style="color:white !important; width: 125px;" mat-raised-button>Generate Keys</button>
                    </div>
                    <br>
                    <div>
                        <button id="loginBtn" style="color:white !important; width: 125px;" mat-raised-button>Display Keys</button>
                    </div>


                    <br>
                    <br>
                    <div style="float: left;">
                        <div>
                            <button id="loginBtn" style="color:white !important; width: 100px; margin-top: 20px;"
                                mat-raised-button>Encrypt</button>
                        </div>
                        <br>
                        <div>
                            <button id="loginBtn" style="color:white !important; width: 100px;" mat-raised-button>Decrypt</button>
                        </div>
                        <br>
                        <div>
                            <button id="loginBtn" style="color:white !important; width: 100px;" mat-raised-button>Hash</button>
                        </div>
                        <br>
                        <div>
                            <button id="loginBtn" style="color:white !important; width: 100px;" mat-raised-button>Sign</button>
                        </div>
                    </div>

                    <br>
                    <form>
                        <mat-form-field>
                            <textarea class="encryptField" matInput placeholder="Text to encrypt..."></textarea>
                        </mat-form-field>
                    </form>
                </span>
            </div>
        </div>
    </div>
</div>