<div id="loginFormat">
    <div id="loginTop">
        <img style="width: 25%; height: 25%;" src="../../../assets/images/Shield.png" alt="HSM">
    </div>
    <div id="loginBox">
        <h1>Cryptography Operations</h1>
        <div class="form-group" style="margin-left: 10px;">
            {{text}}
            <!-- Buttons -->
            <div>
                <button id="btn" style="color:white !important; width: 125px;" mat-raised-button
                    (click)="onGenerateKeys()">Generate Keys</button>
            </div>

            <div style="padding-bottom: 15px;">
                <button id="btn" style="color:white !important; width: 125px;" mat-raised-button
                    (click)="onDisaplayKeys()">Display Keys</button>
            </div>

            <div style="float: left;">
                <div>
                    <button id="btn" style="color:white !important; width: 100px; margin-top: 20px;" mat-raised-button
                        (click)="onEncrypt()">Encrypt</button>
                </div>

                <div>
                    <button id="btn" style="color:white !important; width: 100px;" mat-raised-button
                        (click)="onDecrypt()">Decrypt</button>
                </div>

                <div>
                    <button id="btn" style="color:white !important; width: 100px;" mat-raised-button
                        (click)="onHash()">Hash</button>
                </div>

                <div>
                    <button id="btn" style="color:white !important; width: 100px;" mat-raised-button
                        (click)="onSign()">Sign</button>
                </div>

                <div>
                    <button id="btn" style="color:white !important; width: 100px;" mat-raised-button
                        (click)="onGenReport()">GenReport</button>
                </div>
            </div>
        </div>
        <!-- <form>
            <mat-form-field>
                <textarea matInput class="encryptField" placeholder="Text to encrypt..."></textarea>
            </mat-form-field>
        </form> -->
    </div>
    
</div>