<div id="loginFormat">
    <div id="loginTop">
        <img style="width: 25%; height: 25%;" src="../../../assets/images/Shield.png" alt="HSM">
    </div>
    <div id="loginBox">
        <h1>Login</h1>
        <div style="margin-left: 10px;">
            <div class="form-group" [formGroup]="loginForm">
                <div>
                    <label id="letters" for="username">User Name</label>
                </div>
                <div>
                    <input type="text" formControlName="userID">
                </div>

                <div>
                    <label id="letters" for="password">Password</label>
                </div>

                <div>
                    <input type="text" formControlName="password">
                </div>

                <button id="loginBtn" (click)="onLoginUser()" style="color:white !important"
                    mat-raised-button>Login</button>

                <a [routerLink]="['/register']">
                    <button id="registerBtn" mat-button color="primary">Register</button>
                </a>
            </div>
        </div>
    </div>
</div>